
.div > h2{
    margin-top: 0px !important;
}
.element{
    height: auto;
    background-color: #EDF2F5;
    margin-top: 1%;
    border: thin solid #BFC9CB;
    border-radius: 3%;
}
div > p{   
    text-align: left;
    margin-top: 5px;
}
div > a.btn-info{
    margin-bottom: 15px;
}

.text-cutter{
    text-overflow: ellipsis;
    width: 100%;
}
/*Star rate css*/
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }