<div class="form" style="margin-top: 20px;">
	<h1>Sign Up for Free</h1>
	<ul class="tab-group">
	  <li class="tab active" ><a (click) = "changeView()" data-href="#patient">Patient</a></li>
	  <li class="tab"><a (click) = "changeView()" data-href="#doctor">Doctor</a></li>
	  <li class="tab"><a (click) = "changeView()" data-href="#hospitalM">Hospital Manager</a></li>
	</ul>
	
	<div class="tab-content">
	  <div id="patient">   
		
		<form action="/" method="post">
		
		<div class="top-row">
		  <div class="field-wrap">
			<input type="text" required autocomplete="off" placeholder="First Name"/>
		  </div>
		  <div class="field-wrap">
			<input type="text"required autocomplete="off" placeholder = "Last Name"/>
		  </div>
		</div>

		<div class="field-wrap">
		  <input type="email"required autocomplete="off" placeholder="Email "/>
		</div>
		
		<div class="top-row">
			<div class="field-wrap">
				<input type="password"required autocomplete="off" placeholder="Password"/>
			  </div>
			  <div class="field-wrap">
				  <input type="password"required autocomplete="off" placeholder="Re-Password"/>
			  </div>
		</div>
		
		<button type="submit" class="button button-block">Get Started</button>
		
		</form>

	  </div>
	  
	  <div id="doctor">
		<form action="/" method="post">
		
			<div class="top-row">
			  <div class="field-wrap">
				<input type="text" required autocomplete="off" placeholder="First Name"/>
			  </div>
			  <div class="field-wrap">
				<input type="text"required autocomplete="off" placeholder = "Last Name"/>
			  </div>
			</div>
	
			<div class="field-wrap">
			  <input type="email"required autocomplete="off" placeholder="Email "/>
			</div>
			
			<div class="top-row">
				<div class="field-wrap">
					<input type="password"required autocomplete="off" placeholder="Password"/>
				  </div>
				  <div class="field-wrap">
					  <input type="password"required autocomplete="off" placeholder="Re-Password"/>
				  </div>
			</div>
			
			<button type="submit" class="button button-block">Get Started</button>
			
			</form>

	  </div>
	  <div id="hospitalM">   
		
		<form action="/" method="post">
		
		<div class="top-row">
		  <div class="field-wrap">
			<input type="text" required autocomplete="off" placeholder="First Name"/>
		  </div>
		  <div class="field-wrap">
			<input type="text"required autocomplete="off" placeholder = "Last Name"/>
		  </div>
		</div>

		<div class="field-wrap">
		  <input type="email"required autocomplete="off" placeholder="Email "/>
		</div>
		
		<div class="top-row">
			<div class="field-wrap">
				<input type="password"required autocomplete="off" placeholder="Password"/>
			  </div>
			  <div class="field-wrap">
				  <input type="password"required autocomplete="off" placeholder="Re-Password"/>
			  </div>
		</div>
		
		<button type="submit" class="button button-block">Get Started</button>
		
		</form>

	  </div>
	  
	</div><!-- tab-content -->
	
</div> <!-- /form -->