<div class="container-fluid">
  <div class="row">
    <div *ngFor = "let hospital of hospitals; let i = index">
      <div class="col-md-5 col-md-offset-1 element" *ngIf = "evenOrOdd(i) == false">
        <h3>
          {{hospital.name}}, {{hospital.city}}
        </h3>
        <h4>Departements :</h4>
        <ul *ngFor = "let department of hospital.departments; let j = index">
            <li *ngIf = "j <= 3">
              {{department.departmentId}}<br>
            </li>
          </ul>
          <p *ngIf = "hospital.departments.length <3">...</p>
        <p>
          Last Visit : DATE OF RENDEZ-VOUS
        </p>
        <p>
            Expertise rate: RATE
        </p>
        <a class="btn btn-info btn-md">See More <span class="fa fa-chevron-circle-right"></span></a>
      </div>
      <div class="col-md-5 element" style="margin-left: 1%" *ngIf = "evenOrOdd(i) == true">
          <h3>
              {{hospital.name}}, {{hospital.city}}
            </h3>
            <h4>Departements :</h4>
            <ul *ngFor = "let department of hospital.departments; let j = index">
                <li *ngIf = "j <= 3">
                  {{department.departmentId}}<br>
                </li>
              </ul>
              <p *ngIf = "hospital.departments.length <3">...</p>
            <p>
              Last Visit : DATE OF RENDEZ-VOUS
            </p>
            <p>
                Expertise rate: RATE
            </p>
            <a class="btn btn-info btn-md">See More <span class="fa fa-chevron-circle-right"></span></a>
      </div>
    </div>
  </div>
  <ng-template  *ngIf = "hospitals.length > 4">
      <app-pagination></app-pagination>
  </ng-template>
</div>