<div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 element" >
        <h3>
          Hospital Name, City
        </h3>
        <p>
          Departements : DEPARTEMENT1, DEPARTEMENT2, DEPARTEMENT3 etc ...
        </p>
        <p>
          Last Visit : DATE OF RENDEZ-VOUS
        </p>
        <p>
            Expertise rate: RATE
        </p>
        <a class="btn btn-info btn-md">See More <span class="fa fa-chevron-circle-right"></span></a>
      </div>
      <div class="col-md-5 element" style="margin-left: 1%">
          <h3>
              Hospital Name, City
          </h3>
          <p>
            Departements : DEPARTEMENT1, DEPARTEMENT2, DEPARTEMENT3 etc ...
          </p>
          <p>
            Last Visit : DATE OF RENDEZ-VOUS
          </p>
          <p>
              Expertise rate: RATE
          </p>
          <a class="btn btn-info btn-md">See More <span class="fa fa-chevron-circle-right"></span></a>
      </div>
      <div class="col-md-5 col-md-offset-1 element" >
          <h3>
            Hospital Name, City
          </h3>
          <p>
            Departements : DEPARTEMENT1, DEPARTEMENT2, DEPARTEMENT3 etc ...
          </p>
          <p>
            Last Visit : DATE OF RENDEZ-VOUS
          </p>
          <p>
              Expertise rate: RATE
          </p>
          <a class="btn btn-info btn-md">See More <span class="fa fa-chevron-circle-right"></span></a>
      </div>
      <div class="col-md-5 element" style="margin-left: 1%">
          <h3>
            Hospital Name, City
          </h3>
          <p>
            Departements : DEPARTEMENT1, DEPARTEMENT2, DEPARTEMENT3 etc ...
          </p>
          <p>
            Last Visit : DATE OF RENDEZ-VOUS
          </p>
          <p>
              Expertise rate: RATE
          </p>
          <a class="btn btn-info btn-md">See More <span class="fa fa-chevron-circle-right"></span></a>
      </div>
    </div>
    <app-pagination></app-pagination>
  </div>