.container{
    height: 100vh;
}
.container .row{
    margin-top : 5%;
    height: 100%;
    padding-bottom: 2%;
}
.no-style{
    text-decoration: none;
}

ul {
    list-style: none;
}

.col-md-3{
    background-color: #83ADC3;
    height: 100%;
}
.info > .row{
    margin-top: 0 !important;
}
.info > div > img{
    width: 100%;
}
.info > ul > li{
    margin-bottom : 3%;
    text-align: left;
    font-size: 1em;
    color: White;
}

nav > ul > li {
    display: inline-block;
    width: 19%;
    text-align: center;
}
nav > ul > li:hover{
    background-color:#D9EEF7; 
    color: black;
}
nav > ul > li > a {
    
    font-family: 'Roboto';
    font-size: 1.5em;
}
