<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="info">
          <div class="row">
            <img src="http://placehold.it/700x400" alt="patient">
          </div>
          <hr>
          <ul class="row">
            <li class="col-md-12">Age : 32</li>
            <li class="col-md-12">Sex: Female</li>
            <li class="col-md-12">Location: Pune, India</li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="actions">
          <div class="row">
            <nav class="col-md-12">
              <ul>
                <li><a class="no-style">Hospitals</a></li>
                <li><a class="no-style">Doctors</a></li>
                <li><a class="no-style">Records</a></li>
                <li><a class="no-style">Consultations</a></li>
                <li><a class="no-style">Prescriptions</a></li>
              </ul>
            </nav>
          </div>
          <hr>
          <div class="actions-container">
            <div class="row">

            </div>
          </div>
        </div>
      </div>
  </div>
</div>